<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add">Insert Item</a></li>
          <li><a href="/find">Find Item</a></li>
        </ul>
      </nav>

    <form action="/find" method="POST">
        <div>
          <label for="">First Name</label>
          <input type="text" name="fname" />
        </div>
        <div>
            <label for="">Last Name</label>
            <input type="text" name="lname" />
          </div>
          <div>
            <label for="">Extension Number</label>
            <input type="text" name="en" />
          </div>
        <button type="submit">Submit</button>
      </form>
     
      
    
</body>
</html>