


.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '₹';
}



body {
  padding: 0px 30px 30px 20px;
  font-family: $font-default;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {
  margin-top: -45px;
}
.product-image img{
  width:90px;
}
input{
  width:40px;
}