<html lang="en">
  <head>
    <title>Signup Page</title>
  </head>
  <body>
    <h1>Create Accout!</h1>

    <form action="/signup" method="post">
      <input type="text" name="name" id="" placeholder="name" />
      <br />
      <input type="text" name="username" id="" placeholder="username" />
      <br />
      <input type="password" name="password" id="" placeholder="password" />
      <br />
      <input type="submit" name="" id="" value="Signup" />
    </form>
  </body>
</html>
;
